.important{
    background-color: red;
}
.vimportant{
    background-color: yellow;
}
.vvimportant{
    background-color: green;
}
.b-radius{
    border-radius: 6px;
}
.font-bold{
    font-family: bold;
}
.font-underline{
    text-decoration: underline;
}